.bar {
  background-color: #af7eeb;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 400px;
  border-radius: 12px;
  color: white;
  font-size: 18px;
}

.todo-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-tik-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px !important;
}

.todo-list {
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  background-color: white;
  border-radius: 12px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 40px;
}

.todo-add-btn {
  background-color: #af7eeb;
  color: white;
  padding: 10px 20px;
  margin-top: 12px;
  font-size: 14px;
}

.todo-add-btn:focus {
  outline: none;
}

.input-field {
  width: 400px;
  height: 40px;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 12px;
}

.input-field:focus {
  outline: 1px solid #af7eeb;
}

.add-todo {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.checked {
  color: rgb(5, 163, 39);
}

.checked::after {
  content: "Done!";
  color: rgb(3, 145, 33);
  margin-left: 25px;
  text-decoration: none !important;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .bar {
    width: 330px;
  }
  .todo-list {
    width: 330px;
  }
  .input-field {
    width: 330px;
  }
}
